<!DOCTYPE html>
<html>
<head>
  <title>后台管理</title>
  <link rel="stylesheet" type="text/css" href="/static/css/menuManagement.css">
  <script src="/static/assets/angular.js"></script>
  <script src="/static/assets/angular-route.js"></script>
</head>
<body>
<div class="header">
  <div class="header_title"><a href="/">微信菜单管理系统</a><span class="header_user">欢迎你,Admin</span></div>
</div>
<div class="panel">
  
</div>
</body>
</html>
